:root {
  --color-accent: rgb(196, 12, 14);
  --color-footer-header: rgb(71, 82, 93);
  --color-background: #ffffff;
}
/* HEADER */
.app-header {
  background-color: var(--color-footer-header);
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.5rem 1rem;
}
/* logo+text */
.header-left .logo {
  height: 45px;
}
.header-title {
  margin: 0;
  font-weight: 600;
}
/* NAVIGATION */
.header-nav {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.lang-switcher {
  justify-self: end;
  display: flex;
  align-items: center;
}
/* menu point */
.nav-item {
  align-items: center;
  text-decoration: none;
  color: rgb(252, 247, 247);
  font-weight: 490;
}
/* icon */
.nav-icon {
  width: 15px;
  height: 15px;
  margin-right: 0.2rem;
}
/* hover */
.nav-item:hover {
  text-decoration: underline;
  color: rgb(250, 194, 194);
}
/* active dir */
.active-link {
  font-weight: 700;
  font-size:medium;
  color: #ff6868;
}
/*icon of the page*/
.page-text-img-title {
  display: inline-flex;       /* flex-cont for horizontal align */
  align-items: center;        /* vertical align */
  gap: 0.3rem;                
  margin-top: 0.5rem;         
  margin-left: 8.5rem;
  margin-bottom: 1rem;
  background-color: rgb(243, 238, 232);                
}

.page-text-img-title .page-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin: 0;                 /* need for inline*/ 
}

.page-text-img-title .page-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin: 0;                 /* need for inline*/  
}
/* content-wrapper */
.page-content {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* upper for button and table */
.page-content > * {
  margin-top: 2.5rem;     /* vertical align */
}

.table.table-striped.table-bordered {
  margin-top: -0.5rem;
}

.table.table-striped.table-bordered thead th { /*head of table*/
  background-color:rgb(119, 136, 153);
  text-align: center;
}

button.btn.btn-sm.btn-warning.me-1 {
  background-color: rgb(245, 224, 157);
}

button.btn.btn-sm.btn-danger {
  background-color:rgb(224, 69, 69);

}

.page-strip {
  width: 100%;                 
  height: 5px;                 
  background-color: rgb(253, 8, 8);
  margin: 0rem 0 1rem 0;
}

body {
  background-color: var(--color-background);
  color: #000;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* all hight the window*/
  background-color: var(--color-background);
}

main.flex-grow-1 {
  flex: 1;            /* all places between header Ð¸ footer */
}

.header-title {
  display:flex;
  align-items: center;
  height: -50rem;
  margin: 0 0 0 0.5rem;
  color: rgb(216, 196, 173);
  margin-left: 0.5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.0rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  white-space: nowrap;
}


.header-title::before {
  content: "";
  display:inline-block;
  width: 1px;               
  height: 20px;             
  background-color: rgb(216, 196, 173);
  margin-right: 5px;
}

.header-title::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: rgb(216, 196, 173);
  margin-left: 5px;
}

.footer-description{
  margin: 0.5rem 0 0 0; 
  font-weight: normal;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgb(124, 172, 173);
}

footer {
  display: flex;             /* flex-container */
  flex-direction: column;    
  align-items: center;       
  justify-content: center;   
  text-align: center;        
  padding: 1rem;
  background-color: var(--color-footer-header);
  color: #fff;
}

header img {
  height: 50px;
  margin-right: 10px; 
  margin-left: 20px;  
  margin-top: 1px;
  margin-bottom: 2px;   
}

footer .footer-logo {
  height: 50px;
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}

.lang-select {
  color: #fff;                       
  background-color: var(--color-footer-header); 
  border: none;                      
  padding: 0.1rem -0.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all;
}

.lang-select:hover {
  color: #fff;
  background-color:var(--color-footer-header); 
}

.lang-select:focus {
  outline: none;
  border: none;
}

