:root {
  --color-accent: #c2382b;
  --color-footer-header: rgb(71, 82, 93);
  --color-background: #ffffff;
  --color-accent-gray: #d6d7dc;
  --color-accent-grayBlue: #3a4e6e;
  --color-accent-silver: #d6d7dc;
  --color-accent-green: #40b488;
  --color-accent-lightGreen: #80f077;
  --color-accent-biege: #e6e0be;
  --color-accent-BlueCalm:#80b3ba;
  --color-accent-BlueShade:#D1DCEE;

}
/* HEADER */
.app-header {
  background-color: var(--color-footer-header);
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.5rem 1rem;
}

header img {
  height: 50px;
  margin-right: 10px; 
  margin-left: 20px;  
  margin-top: 1px;
  margin-bottom: 2px;   
}
/* logo+text */
.header-left .logo {
  height: 45px;
  margin-left: 0.2rem;
}

div > .header-title {
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header-title::before {
  content: "";
  width: 1px;
  height: 30px;
  background-color: rgb(216, 196, 173);
  margin-right: 5px;
  align-items:center;
}

.header-title::after {
  content: "";
  width: 1px;
  height: 30px;
  background-color: rgb(216, 196, 173);
  margin-left: 5px;
  align-items:center;
}

.header-title {
  display:flex;
  align-items:center;
  margin: 0 0 0 0.5rem;
  color: rgb(216, 196, 173);
  margin-left: 0.5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:1.2rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
/* NAVIGATION */
.header-nav {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
/* menu point */
.nav-item {
  align-items: center;
  text-decoration: none;
  color: rgb(252, 247, 247);
  font-weight: 490;
}
/* icon */
.nav-icon {
  width: 15px;
  height: 15px;
  margin-right: 0.2rem;
}
/* hover */
.nav-item:hover {
  text-decoration: underline;
  color: rgb(250, 194, 194);
}
/* active dir */
.active-link {
  font-weight: 700;
  font-size:medium;
  color: #ff6868;
}

.lang-switcher {
  justify-self: end;
  display: flex;
  align-items: center;
}

.lang-select {
  color: #fff;
  background-color: var(--color-footer-header); 
  border: none;
  padding: 0.1rem -0.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all;
}

.lang-select:hover {
  color: #fff;
  background-color:var(--color-footer-header); 
}

.lang-select:focus {
  outline: none;
  border: none;
}
/*BODY*/
body {
  background-color: var(--color-background);
  color: #000;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* begin state */
.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px) scale(0.98);;
}

/* ctive state */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.25s ease;
}

/* final state */
.slide-fade-enter-to,
.slide-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.btn-submit{
  background-color: var(--color-accent-green);
  color: #fff;
  border: none;
  padding: 8px 22px;
}
.btn-submit:hover {
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}

.btn-ord.mb-3 {
  border: none;
  padding: 8px 22px;
  background-color: var(--color-accent-BlueShade);
  
}

.btn-ord.mb-3:hover {
  border: none;
  padding: 8px 22px;
  background-color: var(--color-accent-green);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)
}
/*icon + naming of the page */
.page-text-img-title {
  display: inline-flex;       /* flex-cont for horizontal align */
  align-items: center;        /* vertical align */
  gap: 0.1rem;
  margin-top: 0.1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.page-text-img-title .page-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-left: 3rem;               /* need for inline*/ 
}

.page-text-img-title .page-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  margin-left: 0;              /* need for inline*/  
}
/* content-wrapper */
.page-content {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* upper for button and table */
.page-content > * {
  margin-top: 2.5rem;     /* vertical align */
}

.table.table-striped.table-bordered {
  margin-top: -0.5rem;
}

.table.table-striped.table-bordered thead th { /*head of table*/
  background-color:rgb(119, 136, 153);
  text-align: center;
}

button.btn.btn-sm.btn-warning.me-1 {
  background-color: rgb(245, 224, 157);
}

button.btn.btn-sm.btn-danger {
  background-color:rgb(224, 69, 69);

}

.page-strip {
  display:block;
  width: 100%;                 
  height: 6px;                 
  background-color: rgb(253, 8, 8);
  margin: 0rem 0 1rem 0;
}

.stripe{
  margin-top: -16px;
  width: 100vw;
  height: 2.5rem;
  background-color: rgb(243, 238, 232); 
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* all hight the window*/
  background-color: var(--color-background);
}

main.flex-grow-1 {
  flex: 1;            /* all places between header Ð¸ footer */
}
/*FOOTER*/
.footer-description{
  margin: 0.5rem 0 0 0; 
  font-weight: normal;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: rgb(124, 172, 173);
}

footer {
  display: flex;             /* flex-container */
  flex-direction: column;    
  align-items: center;       
  justify-content: center;   
  text-align: center;        
  padding: 1rem;
  background-color: var(--color-footer-header);
  color: #fff;
}

footer .footer-logo {
  height: 50px;
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}

